<div class="mt-4">Album {{album.name}}</div>
<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="card" style="width: 18rem;">
    
        <img src="{{album.img}}" class="card-img-top" alt="..." />
 
      <div class="card-body">
        <h5 class="card-title">{{album.name}}</h5>
        <p class="card-text">Singer: {{album.singer}}</p>
       
      </div>
    </div>
  </div>

</div>