<nav class="navbar navbar-expand-lg bg-Secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Music web</a>
    <button class="navbar-toggler" type="button" 
      aria-controls="#side-bar" aria-expanded="false" aria-label="Toggle navigation" onclick="openSide()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<script>
</script>