<nav class="navbar navbar-expand-lg bg-Secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Music web</a>
    <button class="navbar-toggler" type="button" 
      aria-controls="#side-bar" aria-expanded="false" aria-label="Toggle navigation" onclick="openSide()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
  </div>
</nav>
<script>
</script>