// Menu wrapper
.menu-list {
  width: 160px;
  list-style: none;
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

// Menu items
.menu-item {
  justify-content: space-evenly;
  border-radius: 0;
  padding: 11px 16px;
  display: flex;
  line-height: 1.4rem;
  font-weight: 600;
  width: 180px;
  font-size: 600;
  margin: 0 !important;
  align-items: center;
  align-content: center;
  color: #fff;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(95, 98, 105, 0.03) !important;
  }
  span {
    color: white;
  }
}
