<div class="container m-4">
  <h3 class="mb-4">Thêm bài hát</h3>
  <form method="post" action="/admin/song/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên bài hát</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="singer" class="form-label">Tên ca sĩ</label>
      <input type="text" class="form-control" id="singer" name="singer" />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Thể loại</label>
      <input type="text" class="form-control" id="type" name="type" />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Hình ảnh</label>
      <input type="text" class="form-control" id="img" name="img" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input class="form-control" id="description" name="description" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>